/Projects/zstack/HomeAutomation/SampleLight/CC2530DB/CoordinatorEB
/Projects/zstack/ZNP/CC253x/CC2530-ZNP-with-SBL
/Projects/zstack/ZNP/CC253x/CC2530-Debug
/Projects/zstack/ZNP/CC253x/CC2530-ZNP-without-SBL
/*.si4project
/Projects/zstack/ZNP/CC253x/settings
