/Projects/zstack/HomeAutomation/SampleLight/CC2530DB/CoordinatorEB
/Z-Stack-3.0.1_lchtime.si4project
/Projects/zstack/HomeAutomation/GenericApp/CC2530DB/EndDeviceEB
/Projects/zstack/HomeAutomation/GenericApp/CC2530DB/RouterEB
/Projects/zstack/HomeAutomation/GenericApp/CC2530DB/CoordinatorEB
/Projects/zstack/HomeAutomation/GenericApp/CC2530DB/settings
/Projects/zstack/HomeAutomation/SampleLight/CC2530DB/EndDeviceEB
/Projects/zstack/HomeAutomation/SampleLight/CC2530DB/RouterEB
/Projects/zstack/HomeAutomation/SampleLight/CC2530DB/settings
